@import "tailwindcss";
@import "./base.css";

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-onest);
  --font-mono: var(--font-geist-mono);
  --color-primary: #22274b;
  --color-primary-lighter: #333964;
  --color-primary-darker: #181d3d;
  --color-secondary: #e57fb2;
  --color-secondary-darker: #cb5f97;
  --color-secondary-lighter: #e18ab7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #fefefe;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
